* {
  background-size: cover;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  background-color: rgb(245, 78, 12);
}
#button{
  margin: 10px;
  display: flex;
  justify-content: center;
  size: 5cm;
  padding: 10px;
}